<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-nav">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "Golden-shoe-logo.png", alt: "navbar-logo", class: "navbar-logo"%>
        </a>
    </div>
<%# burger button %>
    <div class="burger">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="line" id="line-top"></div>
        <div class="line" id="line-middle"></div>
        <div class="line" id="line-bottom"></div>
      </button>
    </div>
    <%# Navbar links %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto order-lg-1">
        <div class="nav-links" id="nav-links">
          <li class="nav-item">
            <%=link_to "Home", root_path, class: "links #{is_active('home')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Men", men_path, class: "links #{is_active('men')}"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Women", women_path, class: "links #{is_active('women')}"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Sale", sale_path, class: "links #{is_active('sale')}"  %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "links #{is_active('about')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "links #{is_active('contact')}" %>
          </li>
        </div>
        <li class="nav-item">
        <%# Devise login form %>
          <div>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="order-lg-2" style='display: flex; list-style: none;'>
                <% if user_signed_in? %>
                  <li><%= current_user.email %></li>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                <% else %>
                  <div class="login">
                    <div class="form-inputs" style="display: flex; margin-bottom: 0px !important;">
                      <%= f.input :email,
                        placeholder: 'Email', 
                        label:false,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "login-input" } %>
                      <%= f.input :password,
                        placeholder: 'Password',
                        label:false,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "login-input" } %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Log in" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
