         <form class="simple_form grid" id="new_size" novalidate="novalidate" action="" accept-charset="UTF-8" method="post">
            <%= @shoe_sizes.each do |size| %>
                <div class="radio size-info">
                    <fieldset class="form-group radio_buttons size_selection">
                        <input type="hidden" name="answer" data-remote="true" value="">
                        <div class="square size-square <%= size.content%>">
                            <input class="form-check-input size-form-checks radio_buttons optional" type="radio" value="" name="Answer" id="size_selection <%= size.content%>">
                            <label class="btn collection_radio_buttons" for="size_selection <%= size.content%>">
                                <%= size.content %>
                            </label>
                        </div>
                    </fieldset>
                </div>
            <% end %>

            <input type="submit" name="commit" value="Order Now" class="order-button">
        </form>




