<div class="show-container">
    <div class="show-images-container">
        <% @shoe.images.each do |image| %>
            <div class="show-image-container">
                <%= cl_image_tag image.key %>
            </div>
        <% end %>
    </div>
    <div class="show-info-container">
        <div class="show-info-header">
            <p><%= @product_type.name.capitalize %>'s Shoe</p>
            <h2><%= @shoe.name %></h2>
            <p><%= @shoe.price %></p>
            <p><%= @shoe.description %></p>
        </div>
        <div class="show-info-colours">
            <h2>Colour</h2>
            <% if @colours.empty? %>
                <p>Sorry we are currently out of stock. Please come back soon</p>
            <% else %>
                <form action="" method="post" class="colour-form" data-remote="true">
                    <div class="colour-grid">
                        <%= @colours.each do |colour| %>
                            <div class="colour-box">
                                <fieldset id="<%=colour.id%>" class="radio-buttons" style="background: <%=colour.name%>">
                                    <input type="radio" name="colours" value="<%=colour.name%>">
                                        <div class="square colour-square <%=colour.name %>" style="background: '<%=colour.name%>'">
                                            <label for="size_selection"><%= colour.name %></label>
                                        </div>
                                </fieldset>
                            </div>
                        <% end %>
                    </div>
                </form> 
            <% end %>
        </div>
        <div class="show-info-sizes">
            <% if @colours.empty? %>
                <p>:-(</p>
            <% else %>
                <h2>Size</h2>
                <div class="size-grid" id="sizes">
                    
                </div>
                <button class="btn search-button basket">Add to Basket</button>
            <% end %>
        </div>

    </div>
</div>

<script type="text/javascript">
    const checkBoxes = document.querySelectorAll(".radio-buttons");
    const form = document.querySelector('form');
    const colour = (id) => {
        $.ajax({
            url : "/api/v1/products/<%=@shoe.id%>", //by rails convention doing a post simply to '/messages' should be handled by create action
            method : "post",
            data : { colour: id },
            dataType : "json", //this might be wrong?
            success: function(response){
                
                const form = (response) => {
                    console.log(response)
                    let array = []
                    response.map((size) => {
                        array.push(`<p>${size.content}</p>`)
                
                    }) 
                    return (array.join(''))
                    
                }

                // markup.push(html);
                // html = markup.join("");
                
                    document.getElementById('sizes').innerHTML = form(response);
            
                
                
                
                // const show = document.querySelector('#sizes');
                // show.innerHTML = '<p>' + response.map((size) => {
                //     // console.log(size.content)
                //     return 
                //         '<p>' + size.content + '</p>'; 
                //         }).join('')  + '</p>';
	            // return '<li>' + wizard + '</li>';
                // }).join('') + '</ul>';
                // response.map((size) => {
        //             <form class="simple_form grid" id="new_size" novalidate="novalidate" action="" accept-charset="UTF-8" method="post">
        //                 <div class="radio size-info">
        //                     <fieldset class="form-group radio_buttons size_selection">
        //                         <input type="hidden" name="answer" data-remote="true" value="">
        //                         <div class="square size-square">
        //                             <input class="form-check-input size-form-checks radio_buttons optional" type="radio" value="" name="Answer" id="size_selection">
        //                             <label class="btn collection_radio_buttons" for="size_selection">
        //                                 {size.content}
        //                             </label>
        //                         </div>
        //                     </fieldset>
        //                 </div>
            
        //     <input type="submit" name="commit" value="Order Now" class="order-button">
        // </form>
                // })
        //do something,maybe notify user successfully posted their message
            },
            error: function(error){
            console.log(error);
        }
        });
    }

    
    function replaceSizes (innerHTML) {
    const sizes = document.getElementById('sizes');
    sizes.innerHTML = innerHTML;
    console.log(innerHTML)
    }
    
    for (const check of checkBoxes) {
        check.addEventListener( 'change', function() {
            colour(check.id)
            replaceSizes("<%= j render 'size', sizes: @shoe_sizes %>");
        })
    }


    
    
    
</script>


